@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

@theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

.form-control {
    border: 1px solid #6c757d !important;
    border-radius: 6px;
}

.form-select {
    border: 1px solid #6c757d !important;
    border-radius: 6px;
}

.form-control:focus,
.form-select:focus {
    border-color: #495057 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important;
}

.form-control.is-invalid,
.form-select.is-invalid {
    border-color: #dc3545 !important;
}