@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* BootStrap Text Field */

.form-control.is-invalid {
  background-image: none !important;
}

.form-control {
  border: 1px solid #6c757d !important;
  border-radius: 6px;
}

.form-select {
  border: 1px solid #6c757d !important;
  border-radius: 6px;
}

.form-control:focus,
.form-select:focus {
  border-color: #495057 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.form-control.is-invalid,
.form-select.is-invalid {
  border: 2px solid #8b0f4b !important;
}

/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.6);
  /* make it darker */
  opacity: 1 !important;
  /* ensure it's fully visible */
  cursor: pointer;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(0.6);
  opacity: 1 !important;
  cursor: pointer;
}

/* Optional: make the whole input text clearly visible */
input[type="date"] {
  color: #000 !important;
}

/* 
Material Text Field 
*/

/* Focused border */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #8b0f4b !important;
}

/* Label color when focused */
.MuiInputLabel-root.Mui-focused {
  color: black !important;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #8b0f4b !important;
}

/* Change label color when invalid */
.MuiInputLabel-root.Mui-error {
  color: black !important;
}

/* Change helper/error text color */
/* .MuiFormHelperText-root.Mui-error {
  color: #6a5565 !important;
} */
